<a href="https://colab.research.google.com/github/caelmica/DataScienceAlura/blob/main/Introdu%C3%A7%C3%A3oADataScience_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
notas = pd.read_csv('ratings.csv')

In [5]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

.shape retorna retorna o formado da tabela

In [ ]:
notas.shape

A linha abaixo renomeia as colunas de acordo com o que queremos

In [8]:
notas.columns = ["usuarioID", "filmeID", "nota", "momento"]

In [10]:
notas['nota']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [11]:
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [13]:
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [14]:
notas['nota'].mean()

3.501556983616962