In [1]:
import pandas as pd

In [6]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [7]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [4]:
s.fillna(0) # Preenche com os nulos com o valor entre parenteses

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [8]:
s.fillna(method = 'ffill') # Preenche o nulo com o valor anterior

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [9]:
s.fillna(method = 'bfill') # Faz o mesmo que o ffill mas com o valor de posterior

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [10]:
s.fillna(s.mean()) # Outra forma de fazer isso é colocar a média de todos os valores

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [11]:
s.fillna(method = 'ffill', limit = 1) # O limite faz com que o ffill seja realizada uma única vez nesse caso

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [14]:
s1 = s.fillna(method = 'bfill', limit = 1)

In [15]:
s1.fillna(method = 'bfill', limit = 1)

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64